Repository Lemurian-Labs/codecov-demo: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, smiles, calculator-c, smiles-c

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 1%
comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    # Python components
    - component_id: api-calculator  # this is an identifier that should not be changed
      name: calculator  # this is a display name, and can be changed freely
      paths:
        - api/calculator/
    - component_id: api-smiles 
      name: smiles 
      paths:
        - api/smiles/   
    # C++ components    
    - component_id: api_c-calculator
      name: calculator-c 
      paths:
        - api_c/calculator/
    - component_id: api_c-smiles
      name: smiles-c 
      paths:
        - api_c/smiles/

step5: adjusted paths for running tests
  .github/workflows/api.yml
Due: none

step5: testing the report display
  codecov.yml
Due: none

step5: separated python and c++
  .circleci/config.yml
  .github/workflows/api.yml
  codecov.yml
Due: none

step5: returned the commments section
  codecov.yml
Due: none

step5: removed patch
  codecov.yml
Due: none

step5: reverted patch
  codecov.yml
Due: none

Added test for Python and uncommented test for C++ to make Codecov at 100%
  api/smiles/test_smiles.py
  api_c/smiles/test-smiles.cpp
Due: smiles, smiles-c

Added test for Python
  api/smiles/test_smiles.py
Due: smiles

Testing failure to update % on repo
  api/smiles/test_smiles.py
  api_c/smiles/test-smiles.cpp
Due: smiles, smiles-c

Reverting changes
  api/smiles/test_smiles.py
  api_c/smiles/test-smiles.cpp
Due: smiles, smiles-c

dino-testing: testing the components
  api/smiles/test_smiles.py
  api_c/smiles/test-smiles.cpp
Due: smiles, smiles-c

dino-testing: testing the components again
  api_c/smiles/test-smiles.cpp
Due: smiles-c

dino-testing: testing the components again2
  api_c/smiles/test-smiles.cpp
Due: smiles-c

dino-testing: testing the components again3
  api_c/smiles/test-smiles.cpp
Due: smiles-c

dino-testing: testing the components again4
  api/smiles/test_smiles.py
Due: smiles

dino-testing: testing the components again5
  api/smiles/test_smiles.py
Due: smiles

dino-testing: testing the components again6
  api/smiles/test_smiles.py
Due: smiles

dino-testing: testing the wink
  api/smiles/smiles.py
  api/smiles/test_smiles.py
Due: smiles

Update calculator.cpp
  api_c/calculator/calculator.cpp
Due: calculator-c
